:root {
    font-size: 1em;
}

* {
    box-sizing: border-box;
    
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

/* start - index page */

nav {
    margin-bottom: 20px;
}

nav img.orinoco-logo {
    width: 120px;
    height: 100%;
    margin: auto;
}

nav img.orinoco-basket {
    height: 50px;
    width: 60px;
}
nav img.orinoco-basket:hover {
    color: none;
}

img {
    width: 100%;
}

/* END - index page */



/* start - basket page */

form {
    max-width : 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
form p {
    margin-top: 15px;
}

/* end - basket page */
