<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- link -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../../public/css/style.css">
    <link rel="icon" href="../../../public/img/logo_orinoco.png" type="image/png" sizes="32x32">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Oricono - Votre panier</title>
</head>
<body>

    <!-- header -->
    <header>
        <nav>
          <div class="w3-bar w3-indigo">
            <a href="../../../index.html" class="w3-bar-item w3-button w3-hover-indigo w3-hover-opacity">
              <img class="orinoco-logo" src="../../../public/img/orinoco-alpha.png" alt="Logo Oricono">
            </a>
            <a href="basket.html" class="w3-bar-item w3-button w3-right w3-margin-right w3-hover-indigo w3-hover-opacity">
              <img class="orinoco-basket" src="../../../public/img/orinoco-basket.png" alt="logo panier">
            </a>
          </div>
        </nav>
    </header>

    <!-- main -->
    <main class="w3-container">

      <!-- section -->
      <section>
          <div>
              <h1 class="w3-center">Détails de votre panier</h1>
              <table class="w3-table-all"></table>

          
              <div id="table"></div>
              <div id='empty-basket' class="w3-center"></div>
              <div class="w3-container w3-center">
                <div class="w3-container w3-right-align w3-margin-righ">
                  <span class="prix-total"></span>
                </div>
                <button class="clearTheBasket w3-button w3-round-large w3-light-blue">Vider le panier</button>
              </div>
          </div>

          <form class="w3-card-4 w3-padding" id="form">
            <p id="error" class="w3-center w3-text-red"></p>
            <h2 class="w3-text-blue">Formulaire</h2>
            <p>      
            <label class="w3-text-black fa fa-user" for="lastname"><b> Nom</b></label> 
            <input class="w3-input w3-border" name="lastname" id="lastname" placeholder="Nom" type="text" required pattern="[a-zA-Z]{2,20}"></p>
            <p>      
            <label class="w3-text-black fa fa-user" for="firstname"><b> Prénom</b></label>
            <input class="w3-input w3-border" name="firstname" id="firstname" placeholder="Prénom" type="text" required pattern="[a-zA-Z]{2,20}"></p>
            <p>      
            <label class="w3-text-black fa fa-envelope" for="email"><b> Adress mail</b></label> 
            <input class="w3-input w3-border" name="email" id="email" placeholder="Mail@example.com" type="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"></p>
            <p>      
            <label class="w3-text-black fa fa-address-card-o" for="address"><b> Adresse</b></label> 
            <input class="w3-input w3-border" name="address" id="address" placeholder="Adresse" type="text" required></p>
            <p>      
            <label class="w3-text-black fa fa-institution" for="city"><b> Ville</b></label> 
            <input class="w3-input w3-border" name="city" id="city" placeholder="Ville" type="text" required></p>
                 
            <div class="w3-center">
            <input type="submit" name="submit" id="submit" value="Passez votre commande" class="w3-btn w3-light-blue w3-padding w3-margin w3-round-large">
            </div>
          </form>

      </section>
    </main>

    <!-- footer -->
    <footer class="w3-margin-top w3-center w3-indigo w3-xlarge w3-text-white">
      <a href="#" class="w3-button w3-large">Mentions légales</a>
      <a href="#" class="w3-button w3-large">Informations</a>
      <a href="#" class="w3-button w3-large">Contactez-nous</a>
      <div class="w3-container">
          <i class="fa fa-facebook-official w3-hover-opacity"></i>
          <i class="fa fa-instagram w3-hover-opacity"></i>
          <i class="fa fa-snapchat w3-hover-opacity"></i>
          <i class="fa fa-pinterest-p w3-hover-opacity"></i>
          <i class="fa fa-twitter w3-hover-opacity"></i>
          <i class="fa fa-linkedin w3-hover-opacity"></i>
      </div>
  </footer>

    <!-- script -->
    <script src="../../js/request.js"></script>   
    <script src="../../js/class/BasketClass.js"></script>
    <script src="../../js/functions.js"></script> 
    <script src="../../js/basket.js"></script> 


</body>
</html>