<hr>
<div class="w3-row w3-center">
    <div class="w3-col m3">
        <img src = <!-- ${image} --> style="width:90px;" class="w3-margin w3-round-large">
    </div>
    <div class="w3-col m3">
        <h2 class="w3-xlarge"> <!-- ${nomProduit} --> </h2>
        <p> Objectifs : <!-- ${choiceOption} --></p> 
    </div>
    <div class="w3-col m3">
        <p class="w3-margin-top"><!-- ${price} --></p>
    </div>
    <div class="w3-col m3">
        <button class="btn-remove-article w3-round-xxlarge w3-button w3-deep-orange w3-margin-top">Suprimer</button>
    </div>
</div> 
<hr>