<!--
 * Template.html page
 * Store the template  
-->


<!------------------------------ START - index Template --------------------------------->

<div class="w3-row-padding">
    <a href="#">
        <div class="w3-third">
            <div class="w3-card-4 w3-center">
                <h3>Title</h3>
                <img src="images/vcam_1.jpg" alt="" style='width:100%'>
                <p>Description</p>
                <p>lenses</p>
                <p>Prix</p>
            </div>
        </div>
    </a>
</div>

<!------------------------------ END - index Template --------------------------------->




<!------------------------------ START - Item Template --------------------------------->

<select id="select-option" class="w3-select w3-border" name="option">
    <option value="" disabled selected>Choisissez votre objectif</option>
    <option class="option" value = ""></option>
    <option class="option" value = ""></option>
</select>

<!------------------------------ END - Item Template --------------------------------->




<!------------------------------ START - Basket Template --------------------------------->

<hr>
<div class="w3-row w3-center">
    <div class="w3-col m3">
        <img src = <!-- ${image} --> style="width:90px;" class="w3-margin w3-round-large">
    </div>
    <div class="w3-col m3">
        <h2 class="w3-xlarge"> <!-- ${nomProduit} --> </h2>
        <p> Objectifs : <!-- ${choiceOption} --></p> 
    </div>
    <div class="w3-col m3">
        <p class="w3-margin-top"><!-- ${price} --></p>
    </div>
    <div class="w3-col m3">
        <button class="btn-remove-article w3-round-xxlarge w3-button w3-deep-orange w3-margin-top">Suprimer</button>
    </div>
</div> 
<hr>

<!------------------------------ END - Basket Template --------------------------------->




<!------------------------------ START - Confirm Template ------------------------------>

<section id="confirmTemplate" class="w3-container w3-center"><hr>
    <h2 class="w3-center">Confirmation de votre commande</h2>
    <span> Le prix total est de <!-- ... --> € </span>
    <p> Votre commande porte le numéro : n° <!-- ... --> </p>
    <p class="w3-center">Merci de votre viste !</p>
</section>

<!------------------------------ END - Confirm Template ------------------------------->
