<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- link -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
    <link rel="stylesheet" type="text/css" href="public/css/style.css">

    <title>Oricono - confirmation commande</title>
</head>
<body>

    <!-- header -->
    <header>
        <nav>
            <div class="w3-top w3-bar w3-black">
                <a href="index.html" class="w3-bar-item w3-button">
                <img src="images/logo_orinoco.png" alt="Logo Oricono">
            </a>
                <a href="src/views/product.html" class="items w3-bar-item w3-button w3-right w3-large">produit</a>
                <a href="src/views/basket.html" class="items w3-bar-item w3-button w3-right w3-large">Panier</a>
            </div>
        </nav>
    </header>

    <!-- main -->
    <main>

        <!-- banner -->
        <banner>
            <div class="w3-content">
                <div class="w3-padding-top-48">
                    <div class="w3-display-container">
                        <div class="w3-display-bottomleft w3-padding w3-small">
                        <h1>Orinoco</h1>
                        </div>
                    </div>
                </div>
            </div>
        </banner>

        <!-- section -->
        <section>
            <h2 class="w3-center">Confirmation commande</h2>


        </section>
    </main>

    <!-- footer -->
    <footer>
        <div class="w3-bottom w3-center w3-bar w3-black">
            <a href="#" class="w3-button w3-large">Mentions légales</a>
            <a href="#" class="w3-button w3-large">Informations</a>
            <a href="#" class="w3-button w3-large">Contactez-nous</a>
        </div>
    </footer>

    <!-- script -->
    <script type="text/javascript" src="src/js/confirm.js"></script>    

</body>
</html>