<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- link -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">

    <title>Orinoco - détails produit</title>
</head>
<body>

    <!-- header -->
    <header>
        <nav>
            <div class="w3-top w3-bar w3-black">
                <a href="/index.html" class="w3-bar-item w3-button">
                <img src="/public/img/logo_orinoco.png" alt="Logo Oricono">
            </a>
                <a href="product.html" class="items w3-bar-item w3-button w3-right w3-large">produit</a>
                <a href="basket.html" class="items w3-bar-item w3-button w3-right w3-large">Panier</a>
            </div>
        </nav>
    </header>

    <!-- main -->
    <main>

        <!-- section -->
        <!-- <section class="w3-display-middle">
            <div class="w3-container w3-center">
                <h1>Détails produit</h1><br>
              
                <div class="w3-card-4" style="width:100%">
                  <header class="w3-container w3-light-grey">
                    <h2>Title</h2>
                  </header>
                  <div class="w3-container">
                    <img src="/public/img/vcam_1.jpg" alt="appareil photo" class="w3-left w3-margin-right" style="width:100%">
                    <p>desciption</p>
                    <hr>
                    <select id="select-option" class="w3-select w3-border" name="option">
                        <option value="" disabled selected>Choisissez votre objectif</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                    <hr>
                    <p>price</p><br>
                  </div>
                  <button id="button-add-basket" class="w3-button w3-block w3-dark-grey">Ajouter au panier</button>
                </div>
              </div>
        </section> -->

        <section class="w3-display-middle">
            <div class="w3-container w3-center">
                <h1>Détails produit</h1><br>
              
                <div id="product-card" class="w3-card-4" style="width:100%"></div>
            </div>
        </section>
    </main>

    <!-- footer -->
    <footer>
        <div class="w3-bottom w3-center w3-bar w3-black">
            <a href="#" class="w3-button w3-large">Mentions légales</a>
            <a href="#" class="w3-button w3-large">Informations</a>
            <a href="#" class="w3-button w3-large">Contactez-nous</a>
        </div>
    </footer>

    <!-- script -->
    <script type="text/javascript" src="/src/js/request.js" defer></script>    
    <script type="text/javascript" src="/src/js/functions.js" defer></script>    
    <script type="text/javascript" src="/src/js/product.js" defer></script>    
</body>
</html>