<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- link -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
    <link rel="icon" href="../../../public/img/logo_orinoco.png" type="image/png" sizes="32x32">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Orinoco - détails produit</title>
</head>
<body>

    <!-- header -->
    <header>
        <nav>
            <div class="w3-bar w3-indigo">
                <a href="../../../index.html" class="w3-bar-item w3-button">
                <img src="/public/img/logo_orinoco.png" alt="Logo Oricono">
            </a>
                <a href="/src/views/basket/basket.html" class="items w3-bar-item w3-button w3-right w3-large w3-text-white">Panier</a>
            </div>
        </nav>
    </header>

    <!-- main -->
    <main class="w3-container">


        <div class="w3-content">
                <div class="w3-container">
                    <div class="w3-center w3-padding w3-small">
                        <h1>Détails produit</h1>
                    </div>
                </div>
        </div>


        <section class="w3-section">
            <div class="w3-third w3-container"></div>
            <div class="w3-card-4 w3-third">
                <div class="w3-center">
                  <header class="w3-container w3-light-grey">
                    <h2 id='title'>Nom appareil photo</h2>
                  </header>
                  <div class="w3-container">
                    <img id='image' class="w3-left w3-margin-right" src="#" style="width:100%" alt="Image de l'appareil sélectionné">
                    <p id='description'>desciption</p>
                    <hr>

                    <p>Objectif</p>
                    <select id="select-option" class="select w3-select w3-border" name="option" style="width:60%">
                        <!-- <option value="" disabled selected>Votre objectif</option> -->
                    </select>
                    <hr>

                    <p>Quantité</p>
                    <select id="select-quantity" class="select w3-center w3-select w3-border" name="quantity" style="width:20%">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>

                    <hr>
                    <p id='price'>price</p><br>
                    </div>
                    <button type="submit" id="button-add-basket" class="w3-button w3-block w3-green">Ajouter au panier</button>

                    
                </div>
            </div>

        </section>

    </main>

    <!-- footer -->

    <footer class="w3-container w3-margin-top w3-center w3-indigo w3-xlarge w3-text-white">
        <a href="#" class="w3-button w3-large">Mentions légales</a>
        <a href="#" class="w3-button w3-large">Informations</a>
        <a href="#" class="w3-button w3-large">Contactez-nous</a>
        <div class="w3-container">
            <i class="fa fa-facebook-official w3-hover-opacity"></i>
            <i class="fa fa-instagram w3-hover-opacity"></i>
            <i class="fa fa-snapchat w3-hover-opacity"></i>
            <i class="fa fa-pinterest-p w3-hover-opacity"></i>
            <i class="fa fa-twitter w3-hover-opacity"></i>
            <i class="fa fa-linkedin w3-hover-opacity"></i>
        </div>
    </footer>


    <!-- script -->
    <script src="../../js/request.js"></script>    
    <script src="../../js/class/ItemClass.js"></script>
    <script src="../../js/functions.js"></script>    
    <script src="../../js/product.js"></script>    

</body>
</html>
